.social{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3cm;
}

.copy{
    display: flex;
    align-items: center;
}

footer{
  background-color: darkblue;
  color: white;
  padding-top: 2cm;
  position: relative;
}

.homepage{
  width:100%;
  min-height: 80vh;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin-top: 1cm;
}

.intro h1{
  font-size: 4rem;
  font-weight: 600;
  color:aqua;
}

.intro h2{
  font-size:3rem;
  font-weight: 600;
  color: aquamarine;
}

.intro h3{
  margin-top: 20px;
  font-size: 1.1rem;
  letter-spacing:13px;
  color:darkcyan;
}

.intro button{
  padding:10px 20px;
  margin-top:20px;
  background-color: darkmagenta;
  color:white;
  border:none;
  border-radius: 5px;
}

.himg{
  width:300px;
}
